**/.vscode/
**/__pycache__/
**/classes/
**/*.class
**/classes/
**/*.jar
**/.git/
**/.mvn
**/mvnw
**/mvnw.cmd
**/node_modules/
**/.project/
**/.project
**/.classpath/
**/.classpath
**/.settings/
**/.settings
**/AngularSpring/angular/node_modules/
**/AngularSpring/angular/public/
**/.angular/
