{
  "printWidth": 120,
  "tabWidth": 2,
  "tabs": false,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "html"
      }
    }
  ]
}
