<!doctype html>
<!-- DaisyUI theme -->
<html xmlns:th="http://thymeleaf.org" data-theme="emerald">
  <head>
    <meta charset="UTF-8" />
    <title>Spring Boot + daisyUI</title>
    <!-- HTMX -->
    <script th:src="@{/js/htmx.min.js}"></script>
    <!-- DaisyUI and tailwind CSS -->
    <link th:href="@{/css/tailwind.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body>
    <div th:replace="~{/fragments/navbar :: fragNavBar}"></div>

    <div id="section-main" class="w-10/12 m-auto mt-5">
      <div hx:get="@{/todos}" hx:trigger="load" hx:target="this" hx:swap="outerHTML">Loading your todos...</div>
    </div>
  </body>
</html>
