<!doctype html>
<html xmlns:th="http://thymeleaf.org" data-theme="emerald">
  <head>
    <meta charset="UTF-8" />
    <title>Spring Boot + daisyUI</title>
    <!-- HTMX -->
    <script th:src="@{/js/htmx.min.js}"></script>
    <!-- DaisyUI and tailwind CSS -->
    <link rel="stylesheet" th:href="@{/css/tailwind.css}" />
  </head>

  <body>
    <div class="navbar bg-purple-900 shadow-sm">
      <span class="font-italianno text-4xl font-bold text-secondary-content">Work</span>
    </div>

    <h1 class="text-2xl text-secondary">Status Options</h1>
    <hr class="bg-blue-700" />
    <ul th:each="status : ${statusOptions}">
      <li th:text="|${status} --  ${status.name}  -- ${status.toString}  |"></li>
    </ul>
  </body>
</html>
