<div class="main-content">

  <!-- Begin card -->
  <div class="card w-90 mx-auto">

    <!-- Begin card-body -->
    <div class="card-body container">

      @if (mapProductQuantity.size == 0)
      {
      <div class="alert alert-warning col-md-12" role="alert"> No products found! </div>
      }
      @else
      {

      @for (entry of mapProductQuantity | keyvalue; track entry.key.id)
      {
      <!-- Product image -->
      <div class="row border-bottom">
        <div class="col-2 p-2">
          <a routerLink="/products/{{ entry.key.id }}" routerLinkActive="active-link">
            <img src="/{{ entry.key.imageUrl }}" class="img-responsive img-thumbnail" />
          </a>
        </div>

        <!-- Product name and unit price -->
        <div class="col-7 p-2">
          <div class="container h-100">
            <div class="row h-50 align-items-end">
              <div class="col">
                <div class="card-title cart-item-title">{{ entry.key.name }}</div>
              </div>
            </div>
            <div class="row h-50 align-items-start">
              <div class="col">
                <div class="price-detail badge bg-warning text-dark">{{ entry.key.unitPrice | currency:'USD' }}</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Quantity increment/decrement and sub-total -->
        <div class="col-2 p-2">
          <div class="container h-100">

            <div class="row h-50 align-items-end">
              <div class="col">
                <div class="input-group w-75 mx-auto mb-2">
                  <button (click)="doRemoveFromCart(entry.key)" class="btn btn-sm btn-danger p-0" type="button"><i class="fa-solid fa-minus"></i></button>
                  <span class="label flex-grow-1 align-self-center text-center">{{ entry.value }}</span>
                  <button (click)="doAddToCart(entry.key)" class="btn btn-sm btn-success p-0" type="button"><i class="fa-solid fa-plus"></i></button>
                </div>
              </div>
            </div>

            <div class="row h-50 align-items-start">
              <div class="col text-center">
                <div class="price-detail badge bg-warning text-dark w-75">{{ doCalculateSubTotal(entry.key) | currency:'USD' }}</div>
              </div>
            </div>

          </div>
        </div>

        <!-- Remove product -->
        <div class="col-1 p-2">
          <div class="d-flex h-100 align-items-center justify-content-center">
            <button (click)="doRemoveAll(entry.key)" class="btn btn-sm btn-danger" type="button"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
      }

      <!-- Grand total -->
      <div class="row border border-primary-subtle">
        <div class="col-9 p-2">
          <h3 class="card-title">Total cost of {{ totalQuantity }} items </h3>
        </div>
        <div class="col-2 p-2">

          <div class="container">
            <div class="row justify-content-center">
              <div class="col text-center">
                <div class="price-detail badge bg-warning text-dark w-75">{{ totalPrice | currency:'USD' }}</div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-1 p-2">
          &nbsp;
        </div>
      </div>

      <!-- Checkout -->
      <div class="row">
        <div class="col-12 p-2 text-center">
          <button routerLink="/checkout" class="btn btn-success w-25" type="button"><i class="fa-solid fa-bag-shopping"></i> Checkout</button>
        </div>
      </div>

      }
    </div>
    <!-- End card-body -->

  </div>
  <!-- End card -->

</div>
