<div class="main-content">

  <!-- Begin card -->
  <div class="card w-90 mx-auto">

    <!-- Begin card-header -->
    <div class="card-header">
      <h3 class="card-title">{{ product.name }}</h3>
    </div>
    <!-- End card-header -->

    <img src="{{ product.imageUrl }}" class="card-img-top img-detail" />

    <!-- Begin card-body -->
    <div class="card-body container">

      <div class="row">
        <div class="col-3">&nbsp;</div>
        <div class="col-3 d-flex justify-content-end align-items-center">
          <div class="price-detail badge bg-warning text-dark">{{ product.unitPrice | currency:'USD' }}</div>
        </div>
        <div class="col-3 d-flex justify-content-start align-items-center">
          <button (click)="doAddToCart(product)" class="btn btn-primary btn-sm">Add to cart</button>
        </div>
        <div class="col-3">&nbsp;</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-12">
          <h4 class="card-subtitle">Description</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="card-text">{{ product.description }}</p>
        </div>
      </div>
    </div>
    <!-- End card-body -->

    <!-- Begin card-footer -->
    <div class="card-footer">
      <a routerLink="/products">Back to product list</a>
    </div>
    <!-- End1 card-footer -->

  </div>
  <!-- End card -->

</div>
